body {
    margin:0;
	padding:0;
    background: #FFF; 
}

body, div, td, pre { 
	font-family: Verdana, sans-serif;
	color: #003e51;
	font-size: 11px; 
}

a {
	color: #003e51;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: none;
}

img { border:none; }

ul { padding:0 0 15px 10px; margin:5px 0 0 10px; }
.homelnk { padding:10px 0 0 10px; }

/* including background again (mostly) covers up a problem with the background in 
Firefox & Camino when resizing the window to less than content width */
#wrapper {

}
#header {

}

#content {
	width:100%;
}
#col-left {

}
#col-right {
	padding-top:20px; 
	width:100%;
}

.cnt_over {  }

#content { width:635px; }
#content .txtbox { background:#FFEEEB; padding:20px; margin-bottom:5px; }
#content h2 { color:#FFF; background:#B32100; font-size:11px; margin:0 0 4px 0; padding:5px 20px; letter-spacing:4px; }
#content h3 { color:#FFF; background:#B32100; font-size:11px; margin:0 0 4px 0; padding:5px 20px; }
#content p { padding:0; margin:0 0 15px 0; }

#content .txtbox1 { background:#FFEEEB; padding:20px; margin-bottom:5px; float:left; width:595px; }
* html #content .txtbox1 { width:635px; }
.txtbox2 { float:left; margin-right:15px; }
.txtbox img, .txtbox2 img { margin-bottom:5px; }

#content a {
	color: #CC0000;
}
#content a:hover {
	color: #003e51;
}

#wikitext h1, h2, h3, h4, h5 { }
#wikitext h1 { }
#wikitext h2 {  }
#wikitext h3 {  }
#wikitext h4 {  } 
#wikitext h5 {  }



#sidebar p.sidehead { font-weight:bold; }
#sidebar p { padding:0; margin:0; }

#sidebar { padding:20px 20px 20px 10px; }
#sidebar img { margin-bottom:4px; }
#sidebar ul { list-style: none; margin: 0px; padding: 0 0 20px 0; }
#sidebar li { padding:0; margin:0 0 4px 0; }
#sidebar li a { color:#003e51; }
#sidebar ul li a { font-weight:bold; }
#sidebar ul li a:hover { color:#CC0000; }
#sidebar a.selflink { }

#sidebar h2 { font-size:150%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }
#sidebar h3 { font-size:130%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }
#sidebar h4 { font-size:100%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }

#wikiedit form { margin:0px; }
#wikiedit textarea { width:99%; font-family: monospace; }

#footer { text-align: right; color: #666; border-top: 1px solid #ccc; margin-top: 18px; padding: 10px 0px 10px 0px;}

.difftype,.difftime,.diffrestore { font-size: 11px; }

.quickref table { margin: 2px auto; }
.quickref tr { border: 1px solid #999; }
.quickref td { padding: 2px; vertical-align: top; }

table.markup { border: 1px solid #ccc; }
td.markup1 { border-bottom: 1px solid #ccc; }
dd { margin-left: 18px; }




.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


