# By Niklaus Giger. 
# Replace in this file /opt/src/peter_wiki by the path of your checkout
# Then activate it using the following commands
# sudo  cp /opt/src/peter_wiki/assets/peterwiki.service  /etc/systemd/system/
# sudo  systemctl daemon-reload; sudo  systemctl enable peterwiki; sudo  systemctl start peterwiki;sudo  systemctl status peterwiki

[Unit]
Description=Daemon for PmWiki von Iatrix
After=network.target docker.service 
Wants=
Requires=docker.service

[Service]
Type=oneshot
Environment="PWD=/opt/src/peter_wiki"
WorkingDirectory=/opt/src/peter_wiki
ExecStartPre=-/usr/bin/docker-compose -f /opt/src/peter_wiki/docker-compose.yml stop
ExecStart=/usr/bin/docker-compose -f /opt/src/peter_wiki/docker-compose.yml up -d
[Install]
WantedBy=multi-user.target
